html, body, #root, .col, .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
}

html, body, #root {
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.col {
    flex-flow: column;
}

.row {
    flex-flow: row;
}

/****************************************/
/****************************************/
/****************************************/

#header {
    width: 100%;
    height: 15%;
    background-color: #f46341;
}

#main {
    width: 100%;
    height: 80%;
}

#footer {
    width: 100%;
    height: 5%;
    background-color: #f46341;

}

/****************************************/

#kosher {
    width: 30%;
    gap: 10px;
}

#logo {
    width: 70%;
}

#logo img {
    max-width: 95%;
}

/****************************************/

#side {
    width: 30%;
    height: 100%;
}

#meal {
    width: 40%;
    height: 100%;
    background-color: #082032;
}

#next-to {
    width: 30%;
    height: 100%;
}

/****************************************/


#config {
    width: 100%;
    height: 85%;
    background-color: #fcdc5d;
    /* justify-content: flex-start; */
}

#total {
    width: 100%;
    height: 15%;
    /* justify-content: flex-end; */
    background-color: #fcdc5d;
    /* -------------- */
    position: relative;
    text-align: center;
    /* color: white; */
    color: #082032;
}

/* #total-tag {
    position: relative;
    text-align: center;
    color: white; 
    color: #082032;
} */

#total-tag-price {
    font-size:x-large;
    font-weight: 900;
    /* ----- */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#total-tag-img {
    max-width: 35%;
    /* align-self: flex-start; */
    padding-inline: 0;
}

/* #total-money-img {
    max-width: 50%;
    align-self: flex-start;
    padding-inline: 0;
} */

/****************************************/

#next-to-fries {
    width: 100%;
    height: 60%;
    background-color: #d0d6b5;
}

#next-to-drink {
    width: 100%;
    height: 40%;
    background-color: #d0d6b5;
}

/****************************************/
/****************************************/


legend {
    color: rgb(127, 127, 127);
}

fieldset {
    border-radius: 3%;
    border-color: paleturquoise;
}

#addons, #burger, #extras, #drink {
    width: 75%;
    padding: 5px;
    gap: 10px;
    margin: 10px;
    justify-content: space-around;
}

.display-yes {
    display: flex;
}

.display-no {
    display: none;
}

/****************************************/

#cheese-cheese, #sauce, #onion, #lettuce, #tomato {
    width: 60%;
    justify-content: space-between;
    justify-content: space-around;
}

#reset {
    margin-top: 30px;
}

#reset button {
    padding-inline: 40px;
}


/****************************************/

#meal, #meal div {
    margin: 0px auto;
    padding: 0 auto;
    gap: 2px;
}

#meal img {
    width: 40%;
    align-items: center;
    justify-content: center;
}

#fries-im {
    max-width: 30%;
    /* max-height: 65%; */
}

#fries-im-size {
    max-width: 60%;
    /* max-height: 95%; */
}

#next-to-drink img {
    width: 55%;
    justify-content: space-between;
    margin: 10px;
}

/****************************************/

#footer u {
    text-underline-offset: 6px;

}

/****************************************/

.checkbox {
    cursor: pointer;
    gap: 5px;
}

/****************************************/
/****************************************/
/****************************************/
/****************************************/


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}